* {
  margin: 0;
  padding: 0;
}
.box {
  background-color: orange;
  width: 700px;
  height: 500px;
  text-align-last: left;
}
.box1 {
  background-color: yellow;
  width: 660px;
  height: 450px;
}
.box2 {
  background-color: greenyellow;
  width: 630px;
  height: 410px;
}
.box3 {
  background-color: skyblue;
  width: 600px;
  height: 370px;
}
.box4 {
  background-image: url(../../Pictures/nature-photo.jpeg);
  background-size: cover;
  width: 600px;
  height: 330px;
}
